$text-color-initial: #ffffff;
$color-light-grey: #f2f2f2;
$bg-color-price-card: #334247;
$bg-color-page: #141b1c;
$bg-color-tag-popular: #dc3f45;
$color-theme-green: #5bb189;
$color-theme-blue: #3a6ba5;
$color-theme-orange: #ec632a;
$color-odd-list-item: #2a3438;
