$text-color-initial: #FFFFFF;
$color-light-grey:#F2F2F2;
$bg-color-price-card: #334247;
$bg-color-page:#141B1C;
$bg-color-tag-popular: #DC3F45;
$color-theme-green: #5BB189;
$color-theme-blue: #3A6BA5;
$color-theme-orange: #EC632A;
$color-odd-list-item: #2A3438;